.btn-wrap{
  display:block;
  position: relative;
  border-radius:4px;
  overflow: hidden;
}
.btn,
.btn-loading{
  background-color:$main-color;
}
.btn{
  display:block;
  width:100%; height:44px; line-height:44px;
  font-size:16px; color:#fff; font-weight:500; text-align:center;
  padding:0 12px;
}
.btn-hover{
  opacity:0.9;
}
.btn-loading{
  position: absolute; left:0; top:0;
  width: 100%; height:100%;
  .spinner{
    top:0; left:0; right:0; bottom:0;
    margin:auto;
  }
}

//mint-button
.mint-button{
  vertical-align: top;
  height: 44px !important;
  @include font-size-0;
  .mint-button-icon{
    vertical-align: top;
    line-height: 44px;
    .mintui-back{
      display:block;
      font-size:24px; color:#fff; font-weight:800;
    }
  }
  .mint-button-text{
    display:inline-block;
    vertical-align: top;
    line-height: 44px;
    font-size:16px; font-weight:400;
    margin-left: -3px;
  }
}
