.radio-list-wrap{
  &,.radio-box{
    @include font-size-0;
  }
  .radio-box{
    color:#999;
    &,.radio,.radio-text{
      display:inline-block;
      line-height: 30px;
    }
    .radio,.radio-text{
      vertical-align: middle;
    }
    .radio{
      font-size:18px;
      padding-right: 4px;
    }
    .icon-roundcheckfill{
      color:$helper-color;
    }
    .radio-text{
      line-height: 30px;
    }
  }
}