@import "../helpers/_mixins";

h1{
    font-size:26px;
}
h2{
    font-size:24px;
}
h3{
    font-size:22px;
}
h4{
    font-size:20px;
}
h5{
    font-size:18px;
}
h6{
    font-size:16px;
}
p{
    font-size:14px;
}
span{
    font-size:12px;
}
h1,h2,h3,h4,h5,h6{
    color:#333;
}
p{
    color:#666;
}
span{
    color:#999;
}
i{
    font-style: normal;
}
h5,h6{
    font-weight:normal;
}