@import "../helpers/_mixins";

h1,h2,h3,h4,h5,h6,
strong,p,span,i{
    line-height:1.5;
}
strong,p,span,i{
    display:block;
}
h1{
    font-size:36px;
}
h5{
    font-size:18px;
}
h6{
    font-size:16px;
}
p{
    font-size:14px;
}
span{
    font-size:12px;
}
h1,h2,h3,h4,h5,h6{
    color:#333;
}
p,strong{
    color:#666;
}
span{
    color:#999;
}
i{
    font-style: normal;
}
h5,h6{
    font-weight:normal;
}
.default-img{
    display:table;
    width: 100%; height:100%;
    background-color:#efeff4;
}
.default-img-icon{
    display:table-cell;
    vertical-align: middle;
    line-height: 1;
    font-size:40px !important; color:#666; text-align:center;
}