@import "../helpers/functions";

/* 页面结构 */
.view{
    position: absolute; top:0; bottom:0; left:0; right:0;
    width: 100%;
    overflow: hidden;
    .pages{
        position: relative;
        width: 100%; height:100%;
        overflow: hidden;
        .page,
        .sub-page{
            position: absolute; top:0; left:0; right:0;
            overflow-y: auto; overflow-x:hidden;
            -webkit-overflow-scrolling: touch;
            .scroll-body{
                min-height:100%;
            }
        }
        .page{
            bottom:48px; z-index:1;
        }
        .sub-page{
            bottom:0; z-index:2;
            background-color:#fff;
        }
    }
}

/* 栅格系统 */

//包裹页面内容和栅格系统的容器.container-*
//由于可能给容器设置 padding-top & padding-bottom ,容器之间不能相互嵌套
.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8{
    width: 100%;
    padding-left:20px; padding-right:20px;
}
.container-1::after,
.container-2::after,
.container-3::after,
.container-4::after,
.container-5::after,
.container-6::after,
.container-7::after,
.container-8::after{
    display:table;
    content: "";
    clear:both;
}

//行.row必须包含在容器.container-*中
//由于可能会设置padding-left & padding-right，行之间不能相互嵌套
.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7,
.row-8{
    width: 100%;
}
.row-1::after,
.row-2::after,
.row-3::after,
.row-4::after,
.row-5::after,
.row-6::after,
.row-7::after,
.row-8::after{
    display:table;
    content: "";
    clear:both;
}

//在行.row的内部创建一组列.col-*，只有列.col-*可以作为行.row-*的直接子元素
//内容全部放置在列.col-*里面，通过给列设置 padding-left & padding-right
//来创建列与列之间的间隔
.col-1{
    width: 8.333333333%;
}
.col-2{
    width: 16.66666667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333333%;
}
.col-5{
    width: 41.66666667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33333333%;
}
.col-8{
    width: 66.66666667%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33333333%;
}
.col-11{
    width: 91.66666667%;
}
.col-12{
    width: 100%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    min-height: 1px;
    float: left;
}


/* flex弹性布局 */
.flex-box{
    display: -webkit-box; //老版本语法: Safari, iOS, Android browser, older WebKit browsers.
    display: -moz-box; //老版本语法: Firefox (buggy)
    display: -ms-flexbox; //混合版本语法: IE 10
    display: -webkit-flex; //新版本语法: Chrome 21+
    display: flex; //新版本语法: Opera 12.1, Firefox 22+
}

//如何换行
//flex-wrap:nowrap | wrap | wrap-reverse

//多轴线对齐（多行对齐）
//align-content:flex-start | flex-end | center | space-between | space-around | stretch

//子元素水平左对齐
.flex-left{
    -webkit-box-pack: start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
//子元素水平右对齐
.flex-right{
    -webkit-box-pack: end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
//子元素水平居中对齐
.flex-center{
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
//子元素水平两端对齐
.flex-justify{
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
//子元素水平平均分布
.flex-around{
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

//子元素垂直顶部对齐
.flex-top{
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
//子元素垂直底部对齐
.flex-bottom{
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
//子元素垂直居中对齐
.flex-middle{
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}
//子元素垂直文本基线对齐
.flex-baseline{
    -webkit-box-align: baseline;
    -moz-align-items: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}
//子元素垂直拉伸
.flex-stretch{
    -webkit-box-align: stretch;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

//子元素的左到右排列
.flex-row-1{
    -webkit-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-flex-direction:row;
    -webkit-flex-direction:row;
    flex-direction:row;
}
//子元素的右到左排列
.flex-row-2{
    -webkit-box-pack:end;
    -webkit-box-direction:reverse;
    -webkit-box-orient:horizontal;
    -moz-flex-direction:row-reverse;
    -webkit-flex-direction:row-reverse;
    flex-direction:row-reverse;
}
//子元素的上到下排列
.flex-col-1{
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    -moz-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction:column;
}
//子元素的下到上排列
.flex-col-2{
    -webkit-box-pack:end;
    -webkit-box-direction:reverse;
    -webkit-box-orient:vertical;
    -moz-flex-direction:column-reverse;
    -webkit-flex-direction:column-reverse;
    flex-direction:column-reverse;
}

//单个项目的对齐方式
//align-self:auto | flex-start | flex-end | center | baseline | stretch

//自动填充对齐
.flex-auto{
    -moz-flex:auto;
    -webkit-flex:auto;
    flex:auto;
}
.flex-none{
    -moz-flex:none;
    -webkit-flex:none;
    flex:none;
}


//box-flex: <value>;
//伸缩：<一个浮点数，默认为0.0，即表示不可伸缩，大于0的值可伸缩，柔性相对>

//flex-grow: <number>; default 0
//放大：默认0（即如果有剩余空间也不放大，值为1则放大，2是1的双倍大小，以此类推）

//flex-shrink: <number>; default 1
//缩小：默认1（如果空间不足则会缩小，值为0不缩小）

//是否允许子元素放大
.items-grow{
    -webkit-box-flex:1.0;
    -moz-flex-grow:1;
    -webkit-flex-grow:1;
    flex-grow:1;
}
//是否允许子元素缩小
.items-shrink{
    -webkit-box-flex:1.0;
    -moz-flex-shrink:1;
    -webkit-flex-shrink:1;
    flex-shrink:1;
}
//子元素的显示次序
.items-order{
    -webkit-box-ordinal-group:1;
    -moz-order:1;
    -webkit-order:1;
    order:1;
}