.sub-page{
    overflow: hidden !important;
}
.item{
    width: 100%; line-height:40px;
    font-size:16px; color:#333; text-align:center;
    background-color: #efeff4;
    border-bottom:1px solid #e8e8e8;
}
.mint-loadmore-text{
  font-size:18px;
}